<div class="container-fluid">
    <div class="card">
        <div class="card-body ">
            <nav class="nav nav-tabs pt-auto">
                <div class="nav ml-2" id="nav-tab" style="font-size: 14px!important;" role="tablist">
                    <a class="nav-item nav-link active" id="Interviews" data-bs-toggle="tab" href="#Interview_info"
                        role="tab" aria-controls="Interview_info" aria-selected="true"><i
                            class="fa fa-address-card-o mr-2" aria-hidden="true"></i>SCHEDULER</a>
                    <a class="nav-item nav-link" id="hotlist_tab" data-bs-toggle="tab" href="#hotlist" role="tab"
                        aria-controls="hotlist" aria-selected="false"><i class="fa fa-fire mr-2"
                            aria-hidden="true"></i>HOTLIST</a>
                </div>
            </nav>
            <div class="tab-content px-0" id="nav-tabContent">
                <div class="tab-pane fade show active mt-4" id="Interview_info" role="tabpanel"
                    aria-labelledby="Interviews">
                    <app-scheduled-list></app-scheduled-list>
                </div>
                <div class="tab-pane fade mt-2" id="hotlist" role="tabpanel" aria-labelledby="hotlist_tab">
                    <app-hot-list></app-hot-list>
                </div>
            </div>
        </div>
    </div>
</div>