<div id="content">

  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

      <!-- Sidebar Toggle (Topbar) -->

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">





          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown pointer-hand">
              <a class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                  <img class="img-profile rounded-circle"
                       src="assets/undraw_profile.svg">
                  <span class="ml-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
              </a>
              <!-- Dropdown - User Information -->
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item"><i class="fa fa-user mr-2" aria-hidden="true"></i>Profile</a></li>
                  <li><a class="dropdown-item"><i class="fa fa-wrench mr-2" aria-hidden="true"></i>Settings</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/authentication/signin']"><i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Logout</a></li>
              </ul>
          </li>

      </ul>

  </nav></div>